@import "tailwindcss";

@theme {
  --color-primary: #0a1f44;
  --color-primary-dark: #06152e;
  --color-primary-light: #5d9dd9 ;
  
  --color-secondary: #dc2626;
  --color-secondary-dark: #b91c1c;
  --color-secondary-light: #ef4444;
  
  --color-accent: #f59e0b;
  --color-accent-dark: #d97706;
  --color-accent-light: #fbbf24;
  
  --color-neutral: #64748b;
  --color-neutral-dark: #1e293b;
  --color-neutral-light: #f1f5f9;
  --color-neutral-cream: #f5f3ed;
}